<%= form_with  model: @student do  |form| %>
    <% if @student.errors.any? %>
        <% @student.errors.full_messages.each do |messages| %>
            <p><%= messages %></p>
        <% end %>
    <% end %>



    <div class:"form-group">
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name,class: 'form-control form-control-lg' %>
    </div>
    <br>

    <div class:"form-group">
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name ,class: 'form-control form-control-lg'  %>
    </div>
    <br>

    <div class:"form-group">
    <%= form.label :email %><br>
    <%= form.email_field :email ,class: 'form-control form-control-lg' %>
    </div>
    <br>

    <div class:"form-group">
    <%= form.label :age %><br>
    <%= form.text_field :age ,class: 'form-control form-control-lg'  %>
    </div>
    <br>

    <div class:"form-group">
    <%= form.label :date_of_birth %><br>
    <%= form.date_field :date_of_birth ,class: 'form-control form-control-lg'  %>
    </div>
    <br>

    <div class:"form-group">
    <%= form.label :address %><br>
    <%= form.text_field :address ,class: 'form-control form-control-lg'  %>
    </div>
    <br>

    <div class:"form-group">
    <%= form.label :stud_fees %><br>
    <%= form.text_field :stud_fees ,class: 'form-control form-control-lg'  %>
    </div>
    <br>
    <%= form.submit class: "btn btn-outline-danger me-2"%>
    <%= link_to "Back",students_path,class: "btn btn-outline-warning" %>
<% end %>